



.fa-solid{
    color: rgb(87, 10, 132);
    opacity: 0.8;
    animation: pulsavimas 1.5s infinite ease-in-out;
}

@keyframes pulsavimas {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.15); 
        opacity: 1;          
    }
    100% {
        transform: scale(1);    
        opacity: 0.8;
    }
}

.info-icon {
    position: relative;
    display: inline-block;
    cursor: help;
}

.info-icon > i {
    font-size: 12px;
}

/* VISAS tooltip yra paslėptas */
.info-tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    padding: 15px;
    box-sizing: border-box;

    background: rgb(87, 10, 132);
    color: white;

    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    font-size: 12px;
    line-height: 1.4;
    font-weight: normal;
    text-align: left;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.2s ease;

    z-index: 9999;
}

/* Užvedus ant IKONĖLĖS – parodomas visas tooltip */
.info-icon:hover > .info-tooltip {
    opacity: 1;
    visibility: visible;
    /* pointer-events: auto; */
}






